@import url('https://fonts.googleapis.com/css2?family=Open+sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    font-size: 16px;
    text-decoration: none;
}
body {
    font-family: "Open Sans", sans-serif;
}
.card-title{
    font-size:3.125rem;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    font-weight: 600;
}
.card-sub-title{
    font-size: 1.625rem;
    font-weight: 400;
    margin:1,0;
}
.email-form-title{
    font-size:1.2rem;
    font-weight: 400;
    padding-bottom: 20px;
}
.banner-container{
    background-image: url(./Assets/Netflix_final\ cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    border-bottom: 10px solid rgb(34 34 34);
}

.get-started-form{
    height:55px;
    display:flex;
}
.get-started-form input{
    height:100%;
    width:450px;
    padding: 0px 10px;
    border:white solid;
    margin:0px;
    border-radius: 2px;
    
}

.get-started-form #gs-button{
    background: red;
    color:white;
    border-radius: 3px;
    z-index: 2;
    font-size:1.2rem;
    height: 100%;
    font-family: sans-serif;
    font-weight: 300;
    border:0px;
    border-left: 1px solid;
    margin: 0px;
    padding: 0px 26px;
}
.navbar {
    height:45px;
    display:flex;
    padding: 25px 50px 0px 50px;
    justify-content: space-between;
    align-items: center;

}
.navbar > img{
    height: 32px;
}

.navbar > a {
    color: white;
    padding: 7px 17px;
    background: red;
    text-decoration: none;
    border-radius: 3px;
}


.banner-wrap{
    display: flex;
    flex-direction:column;
    align-items: center;
    height:calc(100% - 45px);
    color: white;
    justify-content: center;
    text-align: center;
}
.overlay{
    display: flex;
    height:110%;
    width: 100%;
    background: black;
    position:absolute;
    opacity: 60%;
    z-index: -1;
}
.card-title{
    font-size: 3.125rem;
    margin-bottom:0.5rem;
    line-height: 1.1;
    font-weight:600;
}
.card-sub-title{
    font-size:1.625 ;
    font-weight: 400;
}

.info-container{
    background:black;
    color: white;
    display:flex;
    padding:70px 45px;
    border-bottom: 10px solid rgb(34 34 34);

}

.info{
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.tv-container{
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
}
.tv-container video{
    position:absolute;
    
    
}
.tv-container img{
    z-index:1;
}

.footer{
    background: black;

}

.footer ul li , .questions-title{
    color:grey;

    
}
.footer-top{
    margin-bottom:30px;
}


.footer ul li:hover{
    text-decoration: underline;
    cursor:pointer; 
}
.questions-title:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer-items{
    margin:0 47.5px;
    padding: 70px 45px ;

}
.foooter-links li{
    font-size:13px;
    line-height:2;
}
.footer-links{
    list-style-type:none;
    columns:4;
    padding:0;
    

}
.language{
    height:52px;
    width:142px;
    color:#999999;
    display:flex;
    align-items:center;
    justify-items: flex-start;
    border:1px solid #999999;
    padding:0px 10px;
    margin-top: 30px;
    border-radius: 3px ;
    
}
.language select{
    padding:10px;
    width: 100%;
    
    border:none;
    appearance: none;
    background:black;
    color:#999999;
    /* drop down arrow */
    background:url(./Assets/Pgk8-carot.png) no-repeat 100%;
    

}
.footer-country{
    font-size: 13px;
    margin-top: 24px;
    color:grey;
}

